<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Listado de clientes</h3>
            <div class="float-right">
              <a routerLink="./nuevo" class="btn btn-info btn-sm">
                <i class="fa fa-plus" aria-hidden="true"></i> Nuevo
              </a>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table class="table table-bordered table-striped" id="tblInteracciones">
              <thead>
                <tr>
                  <th class="text-center" style="width: 120px;">Fecha</th>
                  <th class="text-center" style="width: 200px;">Cliente</th>
                  <th class="text-center" style="width: 80px;">Tema</th>
                  <th>Motivo</th>
                  <th class="text-center" style="width: 80px;">Agencia</th>
                  <th class="text-center" style="width: 80px;">Estado</th>
                  <th class="text-center" style="width: 110px;">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>07/01/2024 02:15:00</td>
                  <td>Manuel Enrique Salamea Yagual </td>
                  <td>Consulta</td>
                  <td>Número de Teléfono de Oficiales de Crédito Agencia Piñas.</td>
                  <td>MATRIZ</td>
                  <td class="text-center">
                    <span class="badge rounded-pill badge-success w-100 py-2 font-weight-normal">Activo</span>
                  </td>
                  <td class="text-center" >
                    <div class="btn-group">
                      <button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#mdlInteraccion">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                      </button>
                      <a routerLink="./editar/1" class="btn btn-warning btn-sm">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                      </a>
                      <a routerLink="./eliminar/1" class="btn btn-danger btn-sm">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </a>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>07/01/2024 02:20:00</td>
                  <td>Francisca Leonor Serrano Guaman</td>
                  <td>Información</td>
                  <td>Se le indicó mayor información acerca de la liquidación de su crédito.</td>
                  <td>AGENCIA EL GUABO</td>
                  <td class="text-center">
                    <span class="badge rounded-pill badge-danger w-100 py-2 font-weight-normal">Inactivo</span>
                  </td>
                  <td class="text-center">
                    <div class="btn-group">
                      <button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#mdlInteraccion">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                      </button>
                      <a routerLink="./editar/1" class="btn btn-warning btn-sm">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                      </a>
                      <a routerLink="./eliminar/1" class="btn btn-danger btn-sm">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </a>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>07/01/2024 02:45:00</td>
                  <td>Denis Fernando Roque Romero</td>
                  <td>Queja</td>
                  <td>
                    Tiene inconvenientes al momento de enviar su información en el enlace de vancante de trabajo.<br>
                    No estaba subiendo el archivo en formato PDF.
                  </td>
                  <td>AGENCIA NARANJAL</td>
                  <td class="text-center">
                    <span class="badge rounded-pill badge-success w-100 py-2 font-weight-normal">Activo</span>
                  </td>
                  <td class="text-center" >
                    <div class="btn-group">
                      <button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#mdlInteraccion">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                      </button>
                      <a routerLink="./editar/1" class="btn btn-warning btn-sm">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                      </a>
                      <a routerLink="./eliminar/1" class="btn btn-danger btn-sm">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </a>
                    </div>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </div>
  </div>
</section>

