<!-- Main content -->
<section class="content">
  <div class="container-fluid">

    <!-- Small boxes - DESKTOP -->
    <div class="row">
      <!-- INTERACCIONES -->
      <div class="col-sm-6 col-md-4 col-lg-3">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3>5</h3>

            <p>Interacciones</p>
          </div>
          <div class="icon">
            <i class="fas fa-headset"></i>
          </div>
          <a href="#" class="small-box-footer">Ir <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>

      <!-- USUARIOS -->
      <div class="col-sm-6 col-md-4 col-lg-3">
        <!-- small box -->
        <div class="small-box bg-danger">
          <div class="inner">
            <h3>10</h3>

            <p>Usuarios</p>
          </div>
          <div class="icon">
            <i class="fas fa-users"></i>
          </div>
          <a href="#" class="small-box-footer">Ir <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>

      <!-- CLIENTES -->
      <div class="col-sm-6 col-md-4 col-lg-3">
        <!-- small box -->
        <div class="small-box bg-purple">
          <div class="inner">
            <h3>50</h3>

            <p>Clientes</p>
          </div>
          <div class="icon">
            <i class="fas fa-user-tie"></i>
          </div>
          <a href="#" class="small-box-footer">Ir <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>

      <!-- MOTIVOS -->
      <div class="col-sm-6 col-md-4 col-lg-3">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <h3>14</h3>

            <p>Motivos</p>
          </div>
          <div class="icon">
            <i class="fas fa-exclamation-triangle"></i>
          </div>
          <a href="#" class="small-box-footer">Ir <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>


    <!-- Main row -->
    <div class="row">

      <!-- ULTIMAS INTERACCIONES -->
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header bg-olive">
            <h3 class="card-title">
              <i class="fas fa-history"></i>
              Últimas Interacciones
            </h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool text-white" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body table-responsive p-0">
            <table class="table table-sm table-striped text-nowrap">
              <thead>
                <tr>
                  <th>Código</th>
                  <th>Cliente</th>
                  <th>Tema</th>
                  <th>Fecha</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>01</td>
                  <td>
                    Yandry Enrique Villigua Villigua
                    <br />
                    <small>WhatsApp</small>
                  </td>
                  <td>Consulta</td>
                  <td>24/10/2022 09:50:12</td>
                </tr>
                <tr>
                  <td>01</td>
                  <td>
                    Milto Rodrigo Sanchez Cardenas
                    <br />
                    <small>Llamada Atendida (00:03:55)</small>
                  </td>
                  <td>Queja</td>
                  <td>24/10/2022 10:41:03</td>
                </tr>
                <tr>
                  <td>20</td>
                  <td>
                    William German Pintado Granado
                    <br />
                    <small>Facebook</small>
                  </td>
                  <td>Información</td>
                  <td>23/10/2022 12:50:00</td>
                </tr>
                <tr>
                  <td>21</td>
                  <td>
                    Francisca Leonor Serrano Guaman
                    <br />
                    <small>Llamada Realizada (00:02:27)</small>
                  </td>
                  <td>Consulta</td>
                  <td>23/10/2022 16:59:47</td>
                </tr>
                <tr>
                  <td>05</td>
                  <td>
                    Arnaldo Cristhoper Mujica Lucin
                    <br />
                    <small>Instagram</small>
                  </td>
                  <td>Ninguno</td>
                  <td>22/10/2022 20:45:32</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- ACTIVIDAD RECIENTE -->
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header bg-lightblue">
            <h3 class="card-title">
              <i class="fas fa-history"></i>
              Actividad Reciente
            </h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool text-white" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body table-responsive p-0">
            <table class="table table-sm table-striped text-nowrap">
              <thead>
                <tr>
                  <th>Código</th>
                  <th>Actividad</th>
                  <th>Fecha</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>01</td>
                  <td>
                    Motivo: Requisitos Crédito sin Garante
                    <br />
                    <small>Creada</small>
                  </td>
                  <td>24/10/2022</td>
                </tr>
                <tr>
                  <td>01</td>
                  <td>
                    Motivo: Requisitos Cuenta Socio.
                    <br />
                    <small>Actualizada</small>
                  </td>
                  <td>24/10/2022</td>
                </tr>
                <tr>
                  <td>20</td>
                  <td>
                    Cliente: Yandry Enrique Villigua Villigua
                    <br />
                    <small>Creado</small>
                  </td>
                  <td>23/10/2022</td>
                </tr>
                <tr>
                  <td>21</td>
                  <td>
                    Canal: WhatsApp
                    <br />
                    <small>Creado</small>
                  </td>
                  <td>23/10/2022</td>
                </tr>
                <tr>
                  <td>05</td>
                  <td>
                    Tema: Información
                    <br />
                    <small>Creado</small>
                  </td>
                  <td>22/10/2022</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row (main row) -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->
